aiogram==2.12.1
aiohttp==3.7.4.post0
ado-py
appdirs==1.4.4
async-timeout==3.0.1
attrs==20.3.0
audeer==1.12.0
audiofile==0.4.1
audioread==2.1.9
Babel==2.9.0
bcrypt==3.2.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
coverage==5.5
cryptography==3.4.7
cycler==0.10.0
decorator==5.0.6
deprecation==2.1.0
eyed3==0.9.6
filetype==1.0.7
gunicorn
idna==2.10
joblib==1.0.1
kiwisolver==1.3.1
librosa==0.8.0
llvmlite==0.36.0
matplotlib==3.2.0
multidict==5.1.0
nest-asyncio==1.5.1
numba==0.53.1
numpy==1.20.2
opensmile==2.0.0
packaging==20.9
pandas==1.2.3
paramiko==2.7.2
Pillow==8.2.0
pooch==1.3.0
pyAudioAnalysis==0.3.6
pycparser==2.20
pydub==0.25.1
pymongo==3.11.3
PyNaCl==1.4.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
resampy==0.2.2
scikit-learn==0.24.1
scipy==1.6.2
six==1.15.0
SoundFile==0.10.3.post1
sox==1.4.1
sshtunnel==0.4.0
threadpoolctl==2.1.0
toml==0.10.2
tqdm==4.60.0
typing-extensions==3.7.4.3
urllib3==1.26.4
yarl==1.6.3
